.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(15deg, #052033 0%, #12507c 89.15%);
  }
  
  .forgot-password-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .logo3 {
    width: 100px;
    margin-bottom: 1rem;
  }
  
  